RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*)/[^/]*$
RewriteCond %{REQUEST_FILENAME} !\.css$
RewriteCond %{REQUEST_FILENAME} !\.js$|\.properties$
RewriteCond %{REQUEST_FILENAME} !\.png$|\.jpg$
RewriteCond %{REQUEST_FILENAME} !\.pdf$|\.WDZ$
RewriteCond %{REQUEST_FILENAME} !controller.php
RewriteCond %{REQUEST_FILENAME} !phpinfo.php
RewriteRule ^([^?]*)$ %1/controller.php?path=$1 [NC,L,QSA]
