html, body {
    font-family:sans-serif;
    /*  color:white;*/
    /*  background-color:white;
      background-image:url(img/DSC00837.jpg);
      background-position:50% 50%;*/

    height: 100%;
    margin: 0;
    padding: 0;
    /* Make it fix, so that L. Gaudouen est hereux */
    font-size: 12pt ; /* Pour IE Explorer ? */
    overflow: visible;

}

img#bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
} 

#content {
    margin: 10pt;
    padding:10pt;
    position:relative;
    top:10%;
    z-index:1;
    overflow: visible;
} 

div.contenu {
    background-color: cadetblue;
    color:white;
    overflow: visible;
}

div.contenu A {
    color:yellow;
    text-decoration:none;
}

div.contenu A:hover {
    text-decoration: underline;
    /*color: #FF0000;*/
    cursor:pointer;
}

/* Classe white_over_dark */
.white_over_dark {
    color:white;
}

.white_over_dark A {
    /*    color:#FFCC00;*/
    color:yellow;
    text-decoration:none;
}

.white_over_dark A:hover {
    text-decoration: underline;
    /*color: #FF0000;*/
    cursor:pointer;
}

label {
    vertical-align:top;
}

/* Class mytable */
table.mytable {
    margin:2px;
    padding: 2px;
    border-width:0.5px; 
    border-style:solid; 
    border-color:white;
    /*color:yellow;*/
    color:white;
    width:50%;
}

th.mytable {   
    /* margin:2px;*/
    padding: 5px;
}

tr.mytable { 
    padding: 5px;
    margin: 2px;
    border-width:1px;
    border-style: solid; 
    border-color:white;
    /* width:50%;*/
}

table.mytable td { 
    padding: 5px;
    margin: 0px;
    border-width:1px;
    border-style: solid; 
    border-color:white;
    /* width:50%;*/
}

.error_strings {
    color:red;
    background:yellow;
    vertical-align:top;
}

#validhtml {
    position: fixed;
    width: auto;
    height: auto;
    top: auto;
    right: 0;
    bottom: 0.1em;
    padding-right: 1em;
    z-index:3;

}

/* Menu deroulant */

#menu {
    position: fixed;
    width: auto;
    height: auto;
    top: 11%;
    right: 0;
    bottom: auto;
    padding-right: 0.5em;
    z-index:2;
    /*    background-color:white;*/
}

#menu>ul:after {
    content : " ]";
}

#menu>ul:before {
    content: "[ ";
}

#menu>ul, #menu>ul>li {
    display: inline;
    width:0px;
}
#menu>ul>li:after{
    content: " | ";
}
#menu>ul>li:last-child:after{
    content: "";
}




#menu ul ul>li {
    display: inherit;
    width:100%;
    white-space: nowrap;
}

#menu ul>li {
    position: relative;
}
#menu>ul>li>ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    /*left: -999em;*/
    display:none;
    text-align:left;
    z-index: 1000;
    background-color: cadetblue;
    /*width:inherit;*/
    padding:5px;
}
#menu>ul>li:hover>ul {
    /* Au survol des li du menu on replace les sous menus */
    left: 0px;
    display:block;
}

/*
#choix_langue {
    position: absolute;
    width: auto;
    height: auto;
    top: 0.2em;
    right: 0;
    bottom: auto;
    padding-right: 1em;
}

coucou#choix_langue A {
    text-decoration:underline;
    color:blue;
}

couocu#choix_langue A:hover {
    text-decoration: none;
    *color: #FF0000;
    cursor:pointer;
}


#back_to_menu {
    position: fixed;
    width: auto;
    height: auto;
    top: auto;
    left: 0;
    bottom: 0.1em;
    padding-left: 1em;
}

*/

/*#back_to_menu {
    position: fixed;
    width: auto;
    height: auto;
    top: 0.1em;
    left: 0;
    bottom: auto;
    padding-left: 1em;
}*/

#bas {
    /*    background-color:white;*/
    position: fixed;
    width: 100%;
    height: 2em;
    top: auto;
    bottom: 0em;
    z-index:2;
}

#accordion>div{background:cadetblue}

div.explication>h4 {
    color:red;
}
div.explication>div{
    background:cadetblue;
    overflow: visible;
}

span.menu {
    text-align: center;
    display:block;
    /*font-family: tt;*/
    color:black;
    margin:10px;

}

.help {
    display:inline;
    vertical-align: top;
    position: relative;
    width:0px;
}

.help:before{
    content:url('img/info.png');
    display:inline-block;
    vertical-align: top;
    position:relative;
    left:-10px;
    top:-13px;
    transform: scale(0.2, 0.2);
    -ms-transform: scale(0.2, 0.2);
    -webkit-transform: scale(0.2, 0.2);
    max-width: 20px;
    max-height: 20px;
    margin : 5px;
    /*    z-index:4;*/
}

.helpa:after{
    content:url('img/info.png');
    display:inline-block;
    vertical-align: top;
    position:relative;
    left:-10px;
    top:-13px;
    transform: scale(0.2, 0.2);
    -ms-transform: scale(0.2, 0.2);
    -webkit-transform: scale(0.2, 0.2);
    max-width: 20px;
    max-height: 20px;
    margin : 5px;
    /*    z-index:4;*/
}


.help>span{
    display:none;
    color:black;
    background:#00ccff;
    margin-bottom: 10pt;
    padding: 15px;
    vertical-align: top;
    position: absolute;
    top: 0px;
    left: 26px;
    /*    width: 0px; */
    height: 0px;
    /*    text-align: justify;*/
}

.help:hover>span  {
    display:block;
    /*    width: 290px; */
    height :auto;
    vertical-align: top;
    z-index:2;
    overflow: visible;
    border-radius: 25px;
}



.facultatif:after{
    content:" Vous pouvez ne rien ajouter."
}

.wide {
    width:500px;
}

.normalwidth {
    width:310px;
}

.thin {
    width:250px;    
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
}


tr.odd{
    background-color: blue;
    border:1px;
    padding:1px;
}

tr.even{
    background-color: blueviolet;
    border:1px;
    padding:1px;
}

tr.even td {padding:5px;}
tr.odd td {padding:5px;}

tr.divisor{
    border:0; 
    height:60px;
}

.caveat {
    color:black;
    padding:5px;
}
.caveat::before{
    content: "NB : ";
}

form br {
    display: block;
    margin: 10px 0;
    /*    line-height:100px;*/
    content: " ";
}

.smallform {    
    width:450px;
    padding:20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    /*    display: table-cell;*/
    margin-top: 10%;
    /*    vertical-align: middle;*/
}

.smallform div { padding:10px;}
.smallform input[type="submit"]{
    float :right;
    display:inline-block;
} 

/* Th following for the
JQuery validation */
form label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color:red;
}

#title {
    display:block;
    background-color: cadetblue;
    color:white;
    padding:10px;
    padding-bottom: 20px;
    text-align: center;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:10%;
    z-index: 2;
}