body {
  font-family:sans-serif;
}

label {
  vertical-align:top;
}

table.mytable {
  margin:2px;
  padding: 2px;
  border-width:0.5px; 
  border-style:solid; 
  border-color:black;
  width:50%;
}

th.mytable {   
/* margin:2px;*/
 padding: 5px;
 }
 
td.mytable { 
 padding: 5px;
 border-width:1px;
 border-style: dotted; 
 border-color:black;
/* width:50%;*/
 }

.error_strings {
  color:red;
  background:yellow;
  vertical-align:top;
}